@import 'variables';
@import 'mixins';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eff1f1;
  margin: 0;
}

.profile-card {
  width: 400px;
  background-color: $secondary-color;
  color: $text-color;
  font-family: $font-family;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .profile-img {
    img {
      width: 100%;
      border-bottom: 5px solid $primary-color;
    }
  }

  .profile-info {
    padding: 40px;

    h2 {
      margin: 10px 0;
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
      opacity: 0.8;
    }

    .btn-primary {
      @include button-style;
      margin-top: 15px;
    }
  }
}